PORT=8000

DB_HOST=tramway.proxy.rlwy.net
DB_USER=root
DB_PASS=EEMgqXFosKyGCyVvDQZjIhEFNOyegEeT
DB_NAME=railway
DB_PORT=15955

JWT_SECRET=supersecretkey

EMAIL_USER=
EMAIL_PASS=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587